<footer>
    <div class="divs">
        <div class="iden cen">
            <div class="logo">
                <img src="assets/logo.jpg">
            </div>
            <label>100thrift</label>


        </div>
     

        <div class="sub_info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laudantium asperiores delectus magni repudiandae voluptatibus ut dolorum laboriosam perspiciatis? Deleniti.
        </div>

        <div class="socail">
            <div class="s_icon"><i class="bi bi-cart-check cen"></i></div>
            <div class="s_icon"><i class="bi bi-cart-check cen"></i></div>
            <div class="s_icon"><i class="bi bi-cart-check cen"></i></div>
            <div class="s_icon"><i class="bi bi-cart-check cen"></i></div>


        </div>

    </div>
    <div class="divs">
        <div class="f_title">Lorem, ipsum.</div>
        <div class="f_list">
            <div class="sub_info">Lorem.</div>
            <div class="sub_info">Lorem.</div>
            <div class="sub_info">Lorem.</div>
            <div class="sub_info">Lorem.</div>
            <div class="sub_info">Lorem.</div>

        </div>
        
    </div>
    <div class="divs">
        <div class="f_title">Lorem, ipsum.</div>
        <div class="f_list">
            <div class="sub_info">Lorem.</div>
            <div class="sub_info">Lorem.</div>
            <div class="sub_info">Lorem.</div>
            <div class="sub_info">Lorem.</div>
            <div class="sub_info">Lorem.</div>

        </div>
        
    </div>
    <div class="divs">
        <div class="f_title">Lorem, ipsum.</div>
        <div class="f_list">
            <div class="sub_info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati magni cupiditate possimus!</div>
           
            <div class="input">
                <input class="text" type="text" placeholder="your mail">
                <input class="submit cen" type="submit" value="Submit">
            </div>
        </div>
        
    </div>
    <div class="copyright">
        <h6>COPYRIGHT c2022 100THRIFT | <!--POWERED BY XEF-TECH--></h6>
 
    </div>
</footer>